{% extends "blog_base.html" %}

{%block title%}Home page{%endblock%}

{%block content%}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Пример альбома</h1>
                <p class="lead text-muted">Что-то краткое и ведущее о коллекции ниже - ее содержание, создатель и т.д.
                    Сделайте ее короткой и интересной, но не слишком короткой, чтобы люди просто не пропустили ее
                    полностью.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Главный призыв к действию</a>
                    <a href="#" class="btn btn-secondary my-2">Вторичное действие</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!-- ТУТ ЦИКЛ ПО ПОСТАМ ИЗ БД
  ================================================== -->
            </div>
        </div>
    </div>

</main>
{%endblock%}